/.vs
/src/RepositoryUnitOfWorkEFCoreSQL.Api/bin
/src/RepositoryUnitOfWorkEFCoreSQL.Api/obj

/src/RepositoryUnitOfWorkEFCoreSQL.Application/bin
/src/RepositoryUnitOfWorkEFCoreSQL.Application/obj

/src/RepositoryUnitOfWorkEFCoreSQL.Domain/bin
/src/RepositoryUnitOfWorkEFCoreSQL.Domain/obj

/src/RepositoryUnitOfWorkEFCoreSQL.Infrastructure/bin
/src/RepositoryUnitOfWorkEFCoreSQL.Infrastructure/obj

/src/RepositoryUnitOfWorkEFCoreSQL.Mediator/bin
/src/RepositoryUnitOfWorkEFCoreSQL.Mediator/obj
/src/RepositoryUnitOfWorkEFCoreSQL.Mediator/obj/Debug/net8.0/RepositoryUnitOfWorkEFCoreSQL.Mediator.AssemblyInfoInputs.cache
/src/RepositoryUnitOfWorkEFCoreSQL.Mediator/obj/Debug/net8.0/RepositoryUnitOfWorkEFCoreSQL.Mediator.AssemblyInfo.cs
